# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
venv/
env/
*.env

# Ignore local configuration files
*.local

# Ignore IDE and editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore package files
*.log
*.lock
*.sqlite

# Ignore system and temporary files
.DS_Store
Thumbs.db
*.bak
*.~*

test.ipynb
WorkerTest.py

